.modal {
  backdrop-filter: brightness(40%);
  background-color: transparent;
  --bs-modal-bg: transparent;
  --bs-modal-border-color: transparent;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  width: 60%;
  border-radius: 100%;
}
.image img {
  width: 100%;
  border-radius: 100%;
}
