.modal {
  backdrop-filter: brightness(40%);
  background-color: transparent;
  --bs-modal-bg: transparent;
  --bs-modal-border-color: transparent;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  width: 60%;
  border-radius: 100%;
  border: solid 3px #ffffff;
}
.image img {
  width: 100%;
  border-radius: 100%;
}

@media screen and (min-width: 1000px) {
  .image {
    width: 100%;
  }
}
