.modal {
  backdrop-filter: brightness(40%);
  background-color: transparent;
  --bs-modal-bg: transparent;
  --bs-modal-border-color: transparent;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.image {
  width: 60%;
  border-radius: 100%;
}
.image img {
  width: 100%;
  border-radius: 100%;
}
.manageBtns {
  cursor: pointer;
  margin-top: 2%;
  color: #fd9f09;
  font-weight: 600;
  font-family: Quicksand, sans-serif;
  font-size: 20px;
  gap: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.manageBtns div {
  transition-duration: 200ms;
}
.manageBtns div:hover {
  color: #fff;
}

@media screen and (min-width: 1000px) {
  .image {
    width: 100%;
  }
}
