.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
}
.cropContainter {
  background-color: #333333;
}
.cropArea {
  width: 100%;
  border-radius: 100%;
}
.cropMedia {
  width: 100%;
  height: 100%;
}
