.connectButton {
  font-family: Quicksand, sans-serif;
  background: #fd9f09;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  padding: 10px 10px 12px 10px;
  margin-top: 2%;
  border: 2px solid transparent;
  width: 65%;
  border-radius: 40px;
}
.connectButton:hover {
  background: #ffffff;
  color: #fd9f09;
  border-color: #fd9f09;
  box-shadow: #fd9f09 0 0 6px;
}
.connectButton:active {
  background: #fd9f09 !important;
  border-color: #fd9f09 !important;
}
@media screen and (max-width: 480px) {
  .connectButton {
    font-size: 21px;
    width: 80%;
    padding: 7px;
    margin-top: 12px;
  }
  .buttonComponent {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
}
@media screen and (min-width: 769px) and (max-width: 900px) {
}
@media screen and (min-width: 899px) and (max-width: 1199px) {
  .connectButton {
    font-size: 18px;
    padding: 8px 8px 9px;
    width: 50%;
  }
}
@media screen and (min-width: 1199px) and (max-width: 1519px) {
  .connectButton {
    font-size: 18px;
    padding: 8px 8px 9px;
    width: 60%;
  }
}
