.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.header {
  font-family: Inter, sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fd9f09;
}
.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 500;
}
.field input {
  background-color: #eaeaea;
  width: 100%;
  text-align: center;
  padding: 8px 4px;
  border-radius: 10px;
  border: none;
  font-family: Quicksand, sans-serif;
  font-size: 16px;
  text-transform: capitalize;
}
.field input[type="number"] {
  letter-spacing: 2px;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
}
.container {
  backdrop-filter: brightness(40%);
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}
.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 8px;
}
.btns button {
  padding: 10px 20px;
  font-family: Quicksand, sans-serif;
  font-weight: 700;
  font-size: 16px;
}
.btns button:last-child {
  background-color: #fd9f09;
  border-color: #fd9f09;
}
.btns button:last-child:hover {
  background-color: #e8930c;
}
