.container {
  backdrop-filter: brightness(40%);
}
.container h4 {
  color: Green;
  font-family: Inter, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 24px;
}
.container p {
  color: #333333;
  font-family: Quicksand, sans-serif;
  letter-spacing: 1px;
  font-weight: 600;
}
.btns {
  font-family: Quicksand, sans-serif;
  font-weight: 600;
}

@media (min-width: 1000px) {
  .container h4 {
    color: Green;
    font-family: Inter, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 32px;
  }
  .container p {
    font-size: 18px;
    color: #333333;
    font-family: Quicksand, sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
  }
}
