.container {
  display: grid;
  gap: 5px;
  padding: 10px 0;
}

.container .month {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  font-family: Quicksand, sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #333333;
  background: #ececec;
  transition: 200ms;
  aspect-ratio: 1/1;
}
.month:hover {
  background: #c2c2c2;
  cursor: pointer;
}

.unpaid {
  color: #dc3545;
  font-weight: bolder;
}
.selectContainer {
  font-family: Quicksand, sans-serif;
  font-weight: bold;
  font-size: 24px;
  padding: 10px;
}
.selectContainer select {
  font-weight: bolder;
  font-family: Quicksand, sans-serif;
  color: #fd9f09;
  background: transparent;
  border: none;
  text-align: right;
}
.selectContainer option {
  font-size: 20px;
  font-weight: bold;
}

.monthlabel {
  font-size: 21px;
  font-weight: bold;
  font-family: Inter, sans-serif;
}

.containerEmpty {
  font-family: Quicksand, sans-serif;
  height: 100%;
}

.aucune {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 26px;
  height: 72%;
}
.topcont {
  aspect-ratio: 1;
  width: 100%;
}
