.container h4 {
  color: #fd9f09;
  font-family: Inter, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 26px;
  font-weight: 700;
  backdrop-filter: brightness(40%);
  background-color: #ffffff;
}
.container p {
  color: #333333;
  font-family: Quicksand, sans-serif;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 18px;
}
.container {
  backdrop-filter: brightness(40%);
}
.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.btns button {
  font-size: 16px;
  padding: 10px 20px;
  font-family: Quicksand, sans-serif;
  font-weight: 600;
}
.btns button:last-child {
  background-color: #fd9f09;
  border-color: #fd9f09;
}
.btns button:last-child:hover {
  background-color: #ea940b;
  border-color: #ea940b;
}
.footer {
  padding: 0 0 30px;
}

@media (min-width: 1000px) {
  .container h4 {
    color: #fd9f09;
    font-family: Inter, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 32px;
    text-wrap: nowrap;
    background-color: #ffffff;
  }
  .container p {
    font-size: 21px;
    color: #333333;
    font-family: Quicksand, sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
  }
  .btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
  }
  .btns button {
    font-size: 20px;
    padding: 10px 20px;
    font-family: Quicksand, sans-serif;
    font-weight: 500;
  }
  .footer {
    padding: 0 0 30px;
  }
}
