.card {
  background-color: #d9d9d9;
  display: flex;
  width: 100%;
  padding: 25px 20px;
  gap: 18px;
  border-radius: 30px;

  align-items: center;
}

.card:hover {
  background: #a4a4a4;
}
.content {
  display: flex;
  flex-direction: column;
  align-content: center;
}
.content h1 {
  font-family: Inter, sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #333333;
  margin: 0;
  padding: 0;
}
.content p {
  font-family: Quicksand, sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
.image img {
  width: 65px;
  height: 65px;
}
.disconnectCard h1,
.disconnectCard p {
  color: #c92b2b;
}
@media screen and (max-width: 370px) {
  .card {
    padding: 16px 18px;
  }
}

@media screen and (min-width: 660px) {
  .card {
    flex-direction: column;
    justify-content: center;
  }
  .content {
    text-align: center;
  }
}
