.header {
  font-size: 21px;
  border: none;
  padding-bottom: 10px;
}
.header h1 {
  margin: 0;
  font-size: 32px;
  font-family: Inter, sans-serif;
  color: #fd9f09;
  font-weight: 600;
  text-transform: uppercase;
}
.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.body img {
  width: 100%;
  aspect-ratio: 1;
}
.footer {
  padding-top: 0;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.footer button {
  font-family: Quicksand, sans-serif;
  font-weight: 700;
  font-size: 24px;
  border: none;
  background: none;
  color: #fd9f09;
  transition-duration: 100ms;
}
.footer button:hover {
  filter: brightness(0.85);
}
.footer button:focus-visible {
  outline: none;
}
