.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #fd9f09;
  background: linear-gradient(
    180deg,
    rgba(253, 159, 9, 1) 0%,
    rgba(253, 207, 6, 1) 18%
  );
}
.title {
  height: 18vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title h1 {
  font-size: 40px;
  font-family: Inter, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;
}
.content {
  padding: 25px 20px;
  background-color: white;
  border-radius: 40px 40px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 14px;
}

@media screen and (max-width: 412px) {
  .content {
    padding: 20px 20px;
    height: 83.5vh;
  }
}

@media screen and (min-width: 1200px) {
  .body {
    display: flex;
    flex-direction: column;
    background: #fd9f09 url("@/assets/images/backgrounds/dashBg.svg") no-repeat;
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
  }
  .title {
    height: fit-content;
    padding: 30px 20px 0 20px;
  }
  .title h1 {
    font-size: 52px;
  }
  .content {
    height: fit-content;
    padding: 20px 0;
    background-color: transparent;
    border-radius: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    overflow: hidden;
  }
}
@media screen and (min-width: 1400px) {
  .title h1 {
    font-size: 72px;
  }
}
@media screen and (min-width: 1600px) {
  .title h1 {
    font-size: 92px;
  }
}
