.page {
  width: 100%;
  background: transparent;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.modalheader {
  border: none;
}
.page h1 {
  background: url("@/assets/images/backgrounds/loadingMobileBg.svg") no-repeat
    center center fixed;
  background-size: cover;
  padding: 40px 0;
  margin: 0;
  background-position-x: center;
  font-family: Inter, sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 42px;
  font-weight: 800;
  color: #fff;
}
.content {
  background-color: white;
  padding-bottom: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.table {
  width: 100%;
}
.namecol {
  padding: 10px 20px;
  font-family: Quicksand, sans-serif;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}
text .table td {
  padding: 10px 0;
}

.table td:not(.namecol) {
  text-align: center;
}

.table tr {
  transition-duration: 300ms;
  cursor: pointer;
}
.table tr:hover {
  background-color: #dedede;
}
.table button {
  width: 30px;
  font-size: 16px;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.table button:focus-visible {
  outline: none;
}
.table td:first-child {
  padding-left: 10px;
}
.table td:last-child {
  padding-right: 10px;
}
.table .qrbtn {
  color: black;
  transition-duration: 200ms;
}
.table .editbtn {
  color: black;
  transition-duration: 200ms;
}
.table .delbtn {
  color: black;
  transition-duration: 200ms;
}

.table .qrbtn:hover {
  color: #fd9f09;
}
.table .editbtn:hover {
  color: #fd9f09;
}
.table .delbtn:hover {
  color: red;
}

.controlbtns {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.controlbtns nav {
  display: flex;
  gap: 5px;
}
.controlbtns nav button {
  text-align: center;
  background: transparent;
  border: none;
  font-family: Inter, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  transition-duration: 200ms;
}
.controlbtns nav button:focus-visible {
  outline: none;
}
.controlbtns nav button:first-child {
  font-weight: 700;
  font-size: 22px;
}
.controlbtns nav button:last-child {
  font-weight: 700;
  font-size: 22px;
}
.controlbtns nav button:hover {
  color: #fd9f09;
}
.controlbtns nav button[disabled] {
  color: #dedede;
  transition-duration: 200ms;
}
.activePage {
  text-decoration: underline;
  font-weight: 800;
  color: #fd9f09;
}
.filters {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: space-between;
  align-items: center;
  padding: 2% 2% 2% 0;

  gap: 5%;
}
.sort {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 2px;
}

.arrbtncont:hover {
  background-color: #e89209;
}
.arrbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.arrbtn p {
  margin: 0;
}
.sort a {
  font-size: 12px;
}
.sort button {
  font-size: 10px;
  font-weight: 500;
  font-family: Quicksand, sans-serif;
}
.searchbtn {
  font-size: 16px;
}
.searchfield {
  font-size: 12px;
}
.sort button {
  --bs-btn-bg: transparent;
  --bs-btn-active-bg: transparent;
  --bs-btn-active-border-color: transparent;
  --bs-btn-border-color: transparent;
  --bs-btn-active-color: #fd9f09;
  color: #fd9f09;
  font-weight: 700;
  --bs-btn-hover-bg: transparent;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-hover-color: #fd9f09;
}

.empty {
  width: 100%;
  height: 65vh;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.empty h1 {
  font-size: 26px;
  background: none;
  color: #fd9f09;
}

.loading {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  width: 100%;
  color: #fd9f09;
  font-size: 24px;
}
.loading * {
  scale: 1.3;
}
.badge {
  margin-left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333333;
  font-family: Quicksand, sans-serif;
}
.table svg {
  font-size: 14px;
}
@media screen and (min-width: 1000px) {
  .table svg {
    font-size: 21px;
  }
  .page h1 {
    padding: 30px 0;
    font-size: 52px;
  }
  .content {
    background-color: white;
    padding-bottom: 20px;
    min-height: 100%;
  }
  .table {
    width: 100%;
  }
  .namecol {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .badge {
    width: 9rem;
    text-align: center;
    color: #333333;
    font-size: 18px;
    font-family: Quicksand, sans-serif;
  }

  .table td:first-child {
    padding-left: 30px;
  }
  .table td {
    padding: 5px 0;
  }
  .table button {
    font-size: 21px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .controlbtns nav {
    gap: 5px;
  }
  .controlbtns nav button {
    font-size: 21px;
  }
  .controlbtns nav button:first-child {
    font-size: 25px;
  }
  .controlbtns nav button:last-child {
    font-size: 25px;
  }

  .filters {
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-content: space-between;
    align-items: center;
    padding: 1% 1.3% 1% 0.5%;
    gap: 5%;
  }
  .sort {
    display: flex;
    justify-content: start;
    align-items: center;
  }

  .arrbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  .arrbtn p {
    margin: 0;
  }
  .sort a {
    font-size: 18px;
  }
  .sort button {
    font-size: 21px;
  }
  .searchbtn {
    font-size: 21px;
  }
  .searchfield {
    font-size: 18px;
  }

  .empty h1 {
    font-size: 32px;
  }
}
