.page {
  width: 100%;
  background: #fd9f09;
}
.page h1 {
  background: #fd9f09 url("@/assets/images/backgrounds/loadingMobileBg.svg")
    no-repeat center center fixed;
  background-size: cover;
  padding: 40px 0;
  margin: 0;
  background-position-x: center;
  font-family: Inter, sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 42px;
  font-weight: 800;
  color: #fff;
}
.content {
  background-color: white;
  padding-bottom: 20px;
}
.table {
  width: 100%;
}
.namecol {
  padding: 10px 20px;
  width: 70%;
  font-family: Quicksand, sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.table td {
  padding: 10px 0;
}

.table td:not(.namecol) {
  text-align: center;
}
.table tr {
  transition-duration: 300ms;
  cursor: pointer;
}
.table tr:hover {
  background-color: #dedede;
}
.table button {
  width: 60px;
  font-size: 20px;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.table button:focus-visible {
  outline: none;
}
.table td:first-child {
  padding-left: 10px;
}
.table td:last-child {
  padding-right: 10px;
}
.table .qrbtn {
  color: black;
  transition-duration: 200ms;
}
.table .editbtn {
  color: black;
  transition-duration: 200ms;
}
.table .delbtn {
  color: black;
  transition-duration: 200ms;
}

.table .qrbtn:hover {
  color: #fd9f09;
}
.table .editbtn:hover {
  color: #fd9f09;
}
.table .delbtn:hover {
  color: red;
}

.controlbtns {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.controlbtns nav {
  display: flex;
  gap: 5px;
}
.controlbtns nav button {
  text-align: center;
  background: transparent;
  border: none;
  font-family: Inter, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  transition-duration: 200ms;
}
.controlbtns nav button:focus-visible {
  outline: none;
}
.controlbtns nav button:first-child {
  font-weight: 700;
  font-size: 22px;
}
.controlbtns nav button:last-child {
  font-weight: 700;
  font-size: 22px;
}
.controlbtns nav button:hover {
  color: #fd9f09;
}
.controlbtns nav button[disabled] {
  color: #dedede;
  transition-duration: 200ms;
}
.activePage {
  text-decoration: underline;
  font-weight: 800;
  color: #fd9f09;
}
