.header h1 {
  font-size: 34px;
  font-family: Inter, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #fd9f09;
  margin: 0;
}
.header {
  font-size: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
