.loadingContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #fd9f09 url("../../assets/images/loadingBg.svg") no-repeat center
    center;
  background-size: cover;
  z-index: 9999;
}

.loadingContainer h1 {
  user-select: none;
  font-family: Quicksand, sans-serif;
  font-weight: 500;
  text-transform: capitalize;
  text-align: center;
  font-size: 52px;
  color: #ffffff;
  cursor: default;
}
