.container {
  display: flex;
  position: fixed;
  background-color: #ffffff;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  bottom: 0;
  border: solid #fd9f09 3px;
  margin: 10px;
  transition-duration: 400ms;
  z-index: 999;
}
.container svg {
  font-size: 30px;
  color: #fd9f09;
  transition-duration: 400ms;
}
.container:hover {
  background: #fd9f09;
}
.container:hover > svg {
  color: white;
  scale: 1.4;
}

@media screen and (max-width: 999.99px) {
  .container {
    width: 50px;
    height: 50px;
    margin: 10px 15px;
  }
  .container svg {
    font-size: 20px;
  }
}
