.wrapper {
  width: 200px;
  height: 200px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 500px;
  background-color: #333333;
}
.wrapper img {
  width: 100%;
  border-radius: 500px;
}
