.wrapper {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: #333333;
}
.wrapper img {
  width: 100%;
  border-radius: 100%;
}
