:root {
  --swiper-navigation-color: #a4a4a4;
  --swiper-navigation-size: 22px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  width: fit-content;
  text-align: center;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}
.header h1 {
  width: 100%;
  text-transform: capitalize;
  overflow: hidden;
  font-weight: 600;
  font-size: 28px;
  padding: 5px 0 8px 0;
}
.swiper {
  padding: 0 6px;
  border-radius: 50px;
  width: 90%;
  text-align: center;
  border: 1.5px solid #a4a4a4;
  font-family: Quicksand, sans-serif;
  font-weight: 600;
  font-size: 18px;
  box-shadow: rgba(80, 80, 80, 0.47) 0 0 7px;
}
.swiper p {
  padding: 20px 0;
  margin: 0;
}

.imgwrapper {
  width: 100px;
  height: 100px;
}
