:root {
  --swiper-navigation-color: #a4a4a4;
  --swiper-navigation-size: 24px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  width: fit-content;
  text-align: center;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}
.header h1 {
  width: 100%;
  text-transform: capitalize;
  overflow: hidden;
  font-weight: 500;
  font-size: 28px;
  padding: 5px 0 8px 0;
  font-family: Quicksand, sans-serif;
}
.swiper {
  width: 100%;
  text-align: center;
  font-family: Quicksand, sans-serif;
  font-weight: 500;
}

.imgwrapper {
  width: 100px;
  height: auto;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
  color: #333333;
}

.content h1 {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fd9f09;
  font-family: Inter, sans-serif;
}
.content td:not(.col2) {
  text-align: left;
  padding: 0;
  margin: 8px;
  font-size: 18px;
  color: #333333;
  font-weight: 500;
  font-family: Inter, sans-serif;
}
.content a {
  font-family: Quicksand, sans-serif;
  font-weight: 500;
  color: #333333;
}
.btnwrapper {
  margin-top: 6%;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
.modbtns {
  display: flex;
  width: 100%;
  gap: 10px;
}
.modbtns button {
  width: 100%;
}
.btnwrapper button {
  background-color: #eaeaea;
  font-size: 18px;
  border: none;
  padding: 20px 0;
  border-radius: 10px;
  font-weight: 500;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btnwrapper button svg {
  font-size: 24px;
}
.modbtns button:nth-child(2) {
  background-color: #dc3545;
  color: #ffffff;
}
.swiper table {
  text-align: left;
  width: 100%;
}
.swiper table td {
  text-wrap: nowrap;
}
.swiper table .col2 {
  text-align: right;
  font-size: 18px;
  font-weight: 500;
  text-transform: lowercase;
}
.swiper button:hover {
  background-color: #c7c7c7;
}
.modbtns button:nth-child(2):hover {
  background-color: #c9323f;
}

@media screen and (min-width: 800px) {
  .container {
    justify-content: center;
    height: 100%;
  }
  .header {
    margin-top: -2%;
    display: flex;
    gap: 0;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    padding: 0;
  }
  .header h1 {
    font-family: inter, sans-serif;
    width: 100%;
    text-transform: capitalize;
    overflow: hidden;
    font-weight: 600;
    font-size: 32px;
    padding: 0;
    text-align: center;
  }
  .imgwrapper {
    width: 90px;
    margin-bottom: 1%;
    height: auto;
  }
  .contentWrapper {
    padding: 40px;
    width: 80%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "info pres pay"
      "btns pres pay";
    justify-content: start;
    align-items: center;
    gap: 10px;
  }

  .buttons {
    display: flex;
    gap: 10px;
    grid-area: btns;
  }
  .buttons .btn {
    border-radius: 20px;
    width: 100%;
    padding: 40px;
    cursor: pointer;
    text-align: center;
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .buttons .btn:first-child {
    background-color: #eaeaea;
  }
  .buttons .btn:last-child {
    background-color: #dc3545;
    color: #ffffff;
  }
  .buttons .btn:first-child:hover {
    transition-duration: 200ms;
    background-color: #c5c5c5;
  }
  .buttons .btn:last-child:hover {
    transition-duration: 200ms;
    background-color: #c02937;
    color: #ffffff;
  }
  .buttons .btn svg {
    font-size: 72px;
  }
  .deskContent {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    width: 100%;
  }
  .contentWrapper {
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: start;
    align-items: center;
    gap: 10px;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85%;
    padding: 0 0 20px;
    margin: 0 auto;
  }

  .content h1 {
    font-size: 42px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fd9f09;
    font-family: Inter, sans-serif;
  }
}
