.wrapper {
  justify-content: center;
  width: 60%;
  margin-top: -3%;
}

.formTitle {
  color: #fd9f09;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  font-family: Inter, sans-serif;
  text-transform: uppercase;
}

.form {
  width: 100%;
  padding: 4% 0 3% 0;
  text-align: center;
}

.form .labels {
  color: #333333;
  font-family: Quicksand, sans-serif;
  font-size: 24px;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.form svg {
  font-size: 24px;
  color: #adadad;
  cursor: pointer;
  margin-left: 7px;
  margin-top: -1.25px;
}

.form .inputs,
.form .inputs:focus {
  text-align: center;
  width: 66%;
  margin: 0 auto;
  font-family: Quicksand, sans-serif;
  font-weight: 400;
  background: transparent;
  border: none;
  border-bottom: 2px solid #adadad;
  border-radius: 0;
  box-shadow: none;
  padding: 0;
}

.form .inputs::placeholder {
  color: #adadad;
}

.topContainer {
  background: #eaeaea;
  border-radius: 40px;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form div {
  padding: 2% 0;
}

.check {
  margin: 0 0 -0.4%;
  padding: 0;
  display: flex;
  align-items: center;
  grid-template-columns: 1fr 8fr;
}

.extras {
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Quicksand, sans-serif;
  color: #333333;
  font-size: 18px;
}
.extras a {
  font-family: Quicksand, sans-serif;
  color: #333333;
  text-decoration: none;
}
.extras a:hover {
  color: #fd9f09;
}
.extras a:active {
  color: #ffffff;
}

.extras input {
  zoom: 1.2;
  border: solid 1px #adadad;
  margin-bottom: -0.5%;
}

.errorMsg {
  margin-top: 2%;
  font-weight: 400;
  color: red;
  font-size: 24px;
  font-family: Quicksand, sans-serif;
}

.extrasContainer {
  margin-top: -2%;
  margin-left: 3%;
  width: 90%;
  font-family: Quicksand, sans-serif;
  font-size: 18px;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
