.wrapper {
  justify-content: center;
  width: 60%;
  margin-top: -3%;
}

.formTitle {
  color: #fd9f09;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  font-family: Inter, sans-serif;
  text-transform: uppercase;
}

.form {
  width: 100%;
  padding: 4% 0 3% 0;
  text-align: center;
}

.form .labels {
  color: #333333;
  font-family: Quicksand, sans-serif;
  font-size: 24px;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.form svg {
  font-size: 24px;
  color: #adadad;
  cursor: pointer;
  margin-left: 7px;
  margin-top: -1.25px;
}

.form .inputs,
.form .inputs:focus {
  text-align: center;
  width: 66%;
  margin: 0 auto;
  font-family: Quicksand, sans-serif;
  font-weight: 400;
  background: transparent;
  border: none;
  border-bottom: 2px solid #adadad;
  border-radius: 0;
  box-shadow: none;
  padding: 0;
  font-size: 20px;
}

.form .inputs::placeholder {
  color: #adadad;
}

.topContainer {
  background: #eaeaea;
  border-radius: 40px;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form div {
  padding: 2% 0;
}

.check {
  margin: 0 0 -0.4%;
  padding: 0;
  display: flex;
  align-items: center;
  grid-template-columns: 1fr 8fr;
}

.extras {
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Quicksand, sans-serif;
  color: #333333;
  font-size: 18px;
}
.extras a {
  font-family: Quicksand, sans-serif;
  color: #333333;
  text-decoration: none;
}
.extras a:hover {
  color: #fd9f09;
}
.extras a:active {
  color: #ffffff;
}

.extras input {
  zoom: 1.2;
  border: solid 1px #adadad;
  margin-bottom: -0.5%;
}

.errorMsg {
  margin-top: 2%;
  font-weight: 400;
  color: red;
  font-size: 24px;
  font-family: Quicksand, sans-serif;
}

.extrasContainer {
  display: flex;
  justify-content: center;
  gap: 0;
  margin-top: -2%;
  width: 82%;
  font-family: Quicksand, sans-serif;
  font-size: 18px;
  padding: 0;
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 576px) {
  .top input:not(.rememberMeContainer input[type="checkbox"]),
  .top input:not(.rememberMeContainer input[type="checkbox"]):focus {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    font-family: Quicksand, sans-serif;
    font-weight: 400;
    background: transparent;
    border: none;
    border-bottom: 1px solid #adadad;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
  }

  .top input:not(.rememberMeContainer input[type="checkbox"])::placeholder {
    color: #adadad;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 30px;
    width: 100%;
    border-radius: 40px 40px 0 0;
    background: #fff;
    --bs-gutter-x: 0;
    font-family: Quicksand, sans-serif;
    height: 60%;
  }
  .wrapper h1 {
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    padding: 10px 0 0 0;
  }
  .errorMsg {
    font-size: 18px;
    text-align: center;
    margin: -10px 0 0 0;
    padding-bottom: 10px;
  }
  .top h1 {
    margin: 0;
    padding: 16px;
  }
  .top {
    width: 100%;
    padding: 18px 0;
    background: transparent;
  }
  .top label {
    padding: 5px 0 0;
    display: flex;
    justify-content: center;
    gap: 7px;
    text-align: center;
    font-size: 21px;
  }
  .top svg {
    margin-top: -3%;
  }
  .top input {
    margin-top: 1%;
    text-align: center;
    font-size: 20px;
  }
  .fields {
    padding: 14px 0 0;
  }
  .fields:nth-child(1) {
    padding: 0;
    margin-top: 0;
  }
  .fields:nth-child(4) {
    padding: 0;
  }
  .forgottenContainer a {
    font-family: Quicksand, sans-serif;
    color: #333333;
    text-decoration: none;
    font-size: 14px;
  }
  .forgottenContainer a:hover {
    color: #fd9f09;
  }
  .forgottenContainer a:active {
    color: #ffffff;
  }

  .rememberMeContainer label {
    font-size: 14px;
  }
  .rememberMeContainer input[type="checkbox"] {
    zoom: 1;
    margin-bottom: -1.5%;
  }

  .extraField {
    padding: 25px 0 15px 0;
    width: 100%;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
  .extraField div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fields {
    width: 80%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 576px) and (max-width: 900px) {
  .formTitleLaptop {
    padding: 20px;
  }
  .formTitleLaptop {
    color: #fd9f09;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    font-family: Inter, sans-serif;
    text-transform: uppercase;
    margin-bottom: -0.6%;
  }
  .errorMsg {
    margin-top: 2%;
    font-weight: 400;
    color: red;
    font-size: 18px;
    font-family: Quicksand, sans-serif;
  }

  .wrapper {
    justify-content: center;
    width: 60%;
    margin-top: -3%;
  }

  .form {
    width: 100%;
    padding: 4% 0 3% 0;
    text-align: center;
  }

  .form .labels {
    font-size: 18px;
  }

  .form svg {
    font-size: 20px;
    margin-left: 7px;
    margin-top: -0.75px;
  }

  .form div {
    padding: 1.5% 0;
  }

  .extras a {
    font-family: Quicksand, sans-serif;
    color: #333333;
    text-decoration: none;
    font-size: 16px;
  }
  .extras .check {
    margin-top: 0.6%;
  }
  .extras input {
    zoom: 1.1;
    border: solid 1px #adadad;
    margin-bottom: -0.25%;
  }
  .extras input {
    zoom: 1.2;
    border: solid 1px #adadad;
    margin-bottom: -0.5%;
  }
  .extras label {
    font-size: 16px;
  }

  .extrasContainer {
    margin-top: -2%;
    margin-left: 3%;
    width: 90%;
    font-family: Quicksand, sans-serif;
    font-size: 18px;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 899px) and (max-width: 1199px) {
  .formTitleLaptop {
    padding: 20px;
  }
  .formTitleLaptop {
    color: #fd9f09;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    font-family: Inter, sans-serif;
    text-transform: uppercase;
    margin-bottom: -0.6%;
  }
  .errorMsg {
    margin-top: 2%;
    font-weight: 400;
    color: red;
    font-size: 18px;
    font-family: Quicksand, sans-serif;
  }

  .wrapper {
    justify-content: center;
    width: 60%;
    margin-top: -3%;
  }

  .form {
    width: 100%;
    padding: 4% 0 3% 0;
    text-align: center;
  }

  .form .labels {
    font-size: 18px;
  }

  .form svg {
    font-size: 20px;
    margin-left: 7px;
    margin-top: -0.75px;
  }

  .form div {
    padding: 1.5% 0;
  }

  .extras a {
    font-family: Quicksand, sans-serif;
    color: #333333;
    text-decoration: none;
    font-size: 16px;
  }
  .extras .check {
    margin-top: 0.6%;
  }
  .extras input {
    zoom: 1.1;
    border: solid 1px #adadad;
    margin-bottom: -0.25%;
  }
  .extras input {
    zoom: 1.2;
    border: solid 1px #adadad;
    margin-bottom: -0.5%;
  }
  .extras label {
    font-size: 16px;
  }

  .extrasContainer {
    margin-top: -2%;
    margin-left: 3%;
    width: 90%;
    font-family: Quicksand, sans-serif;
    font-size: 18px;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1199px) and (max-width: 1519px) {
  .formTitle {
    font-size: 38px;
  }
  .form .labels {
    font-size: 18px;
  }

  .form svg {
    font-size: 20px;
    color: #adadad;
    cursor: pointer;
    margin-left: 7px;
    margin-top: -1.1px;
  }

  .extras a,
  .extras label {
    font-size: 12px;
  }
  .extrasContainer div {
    display: flex;
    align-items: center;
  }

  .extras input {
    zoom: 0.9;
  }

  .errorMsg {
    margin-top: 0;
    font-size: 18px;
  }

  .extrasContainer {
    margin-top: -3%;
    width: 80%;
    font-family: Quicksand, sans-serif;
    padding: 0;
  }
}

@media screen and (min-width: 1519px) and (max-width: 1780px) {
  .extrasContainer {
    width: 84%;
    font-size: 16px;
  }
}
