.wrapper {
  justify-content: center;
  width: 54%;
  margin-top: -3%;
}

.formTitle {
  color: #fd9f09;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  font-family: Inter, sans-serif;
  text-transform: uppercase;
}

.form {
  width: 100%;
  padding-bottom: 2%;
  padding-top: 2%;
  text-align: center;
}

.form .labels {
  color: #333333;
  font-family: Quicksand, sans-serif;
  font-size: 24px;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.form svg {
  font-size: 24px;
  color: #adadad;
  cursor: pointer;
  margin-left: 7px;
  margin-top: -1.25px;
}

.form .inputs,
.form .inputs:focus {
  text-align: center;
  width: 66%;
  margin: 0 auto;
  font-family: Quicksand, sans-serif;
  font-size: 20px;
  font-weight: 400;
  background: transparent;
  border: none;
  border-bottom: 2px solid #adadad;
  border-radius: 0;
  box-shadow: none;
  padding: 0;
}

.form .inputs::placeholder {
  color: #adadad;
}

.topContainer {
  background: #eaeaea;
  border-radius: 40px;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form div {
  padding: 2% 0;
}
.connectButton {
  font-family: Quicksand, sans-serif;
  background: #fd9f09;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  padding: 10px 10px 12px 10px;
  margin-top: 2%;
  border: 2px solid transparent;
  width: 65%;
  border-radius: 40px;
}
.connectButton:hover {
  background: #ffffff;
  color: #fd9f09;
  border-color: #fd9f09;
  box-shadow: #fd9f09 0 0 6px;
}
.connectButton:active {
  background: #fd9f09 !important;
  border-color: #fd9f09 !important;
}
.check {
  margin: 0 0 -0.4%;
  padding: 0;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 8fr;
}
.extras {
  margin: 0 auto;
  width: 100%;
  gap: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Quicksand, sans-serif;
  color: #333333;
  font-size: 20px;
}
.extras a {
  font-family: Quicksand, sans-serif;
  color: #333333;
  font-size: 20px;
  text-decoration: none;
}
.extras a:hover {
  color: #fd9f09;
}
.extras a:active {
  color: #ffffff;
}

.extras input {
  zoom: 1.6;
  border: solid 1px #adadad;
  margin-bottom: -2%;
}

.errorMsg {
  margin-top: 2%;
  font-weight: 400;
  color: red;
  font-size: 24px;
  font-family: Quicksand, sans-serif;
}
