h1,
h2 {
  cursor: default;
  user-select: none;
}

.loginContainer,
.rowContainer,
.leftCol,
.rightCol,
.midCol {
  --bs-gutter-x: 0;
}

.loginContainer {
  height: 100vh;
  background: #fd9f09;
}

.rowContainer {
  display: grid;
  grid-template-columns: auto 45.5%;
}

.leftCol {
  height: 100vh;
  background: #fd9f09 url("../../assets/images/loginBackground.svg") no-repeat;
  background-size: 120%;
  background-position-y: 40%;
  background-position-x: 47%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rightCol {
  height: 100vh;
  background: white;
  display: grid;
  justify-items: center;
  align-content: center;
  width: 100%;
}

.logo {
  width: 14%;
  user-select: none;
}

.logoContainer {
  margin-top: -7%;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.bgTitle {
  color: white;
  font-size: 96px;
  font-weight: 800;
  text-align: center;
  font-family: Inter, sans-serif;
  text-transform: uppercase;
}

.bgTitle2 {
  margin-top: -2%;
  color: white;
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  font-family: Inter, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.title {
  display: flex;
  justify-content: center;
  margin-top: -0.7%;
}

.title img {
  user-select: none;
}

@media screen and (max-width: 480px) {
  .wrapper {
    height: 100vh;
    background: #fd9f09 url("../../assets/images/loginMobileBg.svg") no-repeat
      center;
    background-position-y: 45%;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0;
  }
  .logoContainer img {
    scale: 1.5;
    margin-bottom: 30%;
  }
  .logoContainer {
    height: 40%;
    width: 100%;
    margin-top: 0.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .logoContainer h1 {
    font-size: 42px;
  }
  .logoContainer h2 {
    font-size: 24px;
  }
  .logoContainer .title svg {
    font-size: 42px;
    margin-inline: -1%;
    margin-top: 0.7%;
  }

  .logoContainer .title svg:nth-child(3) {
    transform: scaleX(-1);
  }
}
@media screen and (max-width: 398px) {
  .logoContainer h1 {
    font-size: 40px;
  }
  .logoContainer h2 {
    font-size: 20px;
  }
  .logoContainer .title svg {
    font-size: 40px;
  }
  .logoContainer img {
    scale: 1.4;
    margin-bottom: 25%;
  }
}
@media screen and (max-width: 382px) {
  .logoContainer img {
    scale: 1.2;
    margin-bottom: 20%;
  }
  .logoContainer h1 {
    font-size: 32px;
  }
  .logoContainer h2 {
    font-size: 20px;
  }
  .logoContainer .title svg {
    font-size: 32px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
}
@media screen and (min-width: 769px) and (max-width: 900px) {
}
@media screen and (min-width: 900px) and (max-width: 1199px) {
  .loginContainerLaptop {
    background: #fd9f09 url("../../assets/images/loginBackground.svg") no-repeat;
    background-size: 120%;
    background-position-x: 50%;
    background-position-y: 33%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .midCol {
    margin-top: -2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .logoContainer {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding-bottom: 3%;
  }
  .bgTitle {
    color: white;

    font-size: 72px;
    font-weight: 800;
    text-align: center;
    font-family: Inter, sans-serif;
    text-transform: uppercase;
  }

  .bgTitle2 {
    margin-top: -3%;
    color: white;
    font-size: 34px;
    font-weight: 800;
    text-align: center;
    font-family: Inter, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .logoContainer .logo {
    scale: 0.9;
    margin-bottom: -0.5%;
  }
  .logoContainer .horse {
    scale: 0.75;
    margin-left: -0.6%;
    margin-right: -0.6%;
  }
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -1.5%;
  }
}
@media screen and (min-width: 900px) and (max-width: 1199px) and (max-height: 675px) {
  .logoContainer {
    margin-top: 0;
  }
  .logoContainer .logo {
    scale: 0.8;
    margin-bottom: -1%;
  }
  .logoContainer .horse {
    scale: 0.6;
    padding: 0 0 1%;
    margin-left: -1.1%;
    margin-right: -1.1%;
  }
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -3%;
  }
  .logoContainer .bgTitle {
    font-size: 60px;
  }
  .logoContainer .bgTitle2 {
    font-size: 28px;
    margin-top: -4%;
  }
}
@media screen and (min-width: 1199px) {
  .bgTitle {
    font-size: 72px;
  }
  .bgTitle2 {
    margin-top: -2.5%;
    font-size: 28px;
  }
  .title img {
    scale: 0.7;
    margin-top: -1.5%;
    margin-left: -1.2%;
    margin-right: -1.2%;
  }
  .logoContainer .logo {
    scale: 1;
    margin-bottom: 0;
  }
}
