.loginContainer,
.rowContainer,
.leftCol,
.rightCol {
  --bs-gutter-x: 0;
}
.loginContainer {
  height: 100vh;
  background: #fd9f09;
}
.rowContainer {
  display: grid;
  grid-template-columns: auto 45.5%;
}

.leftCol {
  height: 100vh;
  background: #fd9f09 url("../../assets/images/loginBg.svg") no-repeat;
  background-size: 105%;
  background-position-y: 35%;
  background-position-x: 115%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rightCol {
  height: 100vh;
  background: white;
}

.logo {
  width: 14%;
}
.logoContainer {
  margin-top: -9%;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

h1 {
  margin-top: -0.5%;
  color: white;
  font-size: 96px;
  font-weight: bolder;
  text-align: center;
  font-family: Inter, poppins, sans-serif;
  text-transform: uppercase;
}
h2 {
  margin-top: -2%;
  color: white;
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
  font-family: Inter, poppins, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.title {
  display: flex;
  justify-content: center;
}
